h1 {
  color: blue;
}
.column {
  width: 300px;
  float: left;
  background-color: lightblue;
  border: solid;
  border-color: black;
}
.column1 {
  width: 300px;
  float: left;
  background-color: darkcyan;
  border: solid;
  border-color: black;
}
.column2 {
  width: 300px;
  float: left;
  background-color: darkblue;
  border: solid;
  border-color: black;
}
img.before {
  width: 300px;
  height: 300px;
}
img.during {
  width: 300px;
  height: 300px;
}
img.final {
  width: 300px;
  height: 300px;
}